<div class="card-container">
   <div class="card-name">{{card.name}}</div>

   <div class="card-art-container">
      <img
         class="card-art"
         src="https://art.hearthstonejson.com/v1/orig/{{card.id}}.png"
         alt=""
         (load)="imgOnload()"
         [class.not-loaded]="!isImgLoaded"
      >
      <div class="loading-overlay" [class.loading]="!isImgLoaded">
         <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
   </div>

   <div class="card-flavor" *ngIf="card.flavor">"{{card.flavor}}"</div>
   <div class="card-artist">Artist: {{card.artist}}</div>
</div>
